jobs:
  test:
    steps:
      - name: List migrations directory contents
        run: |-
          echo "Listing migrations directory contents..."
          ls -la migrations/

      - name: Show db:migrate:status
        run: |-
          echo "Running migration status..."
          DEBUG=sequelize:* npx sequelize-cli --config config/config.js --env development db:migrate:status

      - name: Run migrations
        run: |-
          echo "Running migrations..."
          npx sequelize-cli --config config/config.js --env development db:migrate
